USE [master]
GO
/****** Object:  Database [WarehouseManagement]    Script Date: 17/03/2022 14:39:40 ******/
CREATE DATABASE [WarehouseManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WarehouseManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WarehouseManagement.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WarehouseManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WarehouseManagement_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WarehouseManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WarehouseManagement]
GO
/****** Object:  Table [dbo].[CostAccount]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CostAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CostAccountItem]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CostAccountItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Note] [varchar](50) NOT NULL,
	[CostAccount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [varchar](10) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](200) NOT NULL,
	[IsAdmin] [bit] NOT NULL DEFAULT ((0)),
	[IsActive] [bit] NOT NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ExportHistory]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExportHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Material] [int] NOT NULL,
	[ExportDate] [date] NOT NULL DEFAULT (getdate()),
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Receiver] [int] NOT NULL,
	[Requestor] [nvarchar](200) NULL,
	[Handler] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ImportHistory]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ImportHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Material] [int] NOT NULL,
	[ImportDate] [date] NOT NULL DEFAULT (getdate()),
	[Quantity] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Supplier] [nvarchar](200) NULL,
	[LineRequest] [int] NOT NULL,
	[Buyer] [nvarchar](100) NULL,
	[PO] [varchar](20) NULL,
	[Allocated] [bit] NOT NULL DEFAULT ((0)),
	[Handler] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Inspection]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspection](
	[ImportId] [int] NOT NULL,
	[Status] [bit] NOT NULL DEFAULT ((0)),
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
	[Inspector] [nvarchar](100) NULL,
	[Result] [bit] NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Line]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Line](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[CostCenter] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Material]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Material](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QCode] [varchar](10) NOT NULL,
	[Zone] [int] NOT NULL,
	[Unit] [int] NOT NULL,
	[Location] [nvarchar](100) NOT NULL,
	[Item] [nvarchar](100) NULL,
	[Specification] [nvarchar](500) NULL,
	[Remark] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NOT NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Zone]    Script Date: 17/03/2022 14:39:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Zone](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](5) NOT NULL,
	[Description] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CostAccount] ON 

INSERT [dbo].[CostAccount] ([Id], [Name]) VALUES (1, N'602011-0000')
INSERT [dbo].[CostAccount] ([Id], [Name]) VALUES (2, N'602021-0000')
INSERT [dbo].[CostAccount] ([Id], [Name]) VALUES (3, N'602031-0000')
SET IDENTITY_INSERT [dbo].[CostAccount] OFF
SET IDENTITY_INSERT [dbo].[CostAccountItem] ON 

INSERT [dbo].[CostAccountItem] ([Id], [Note], [CostAccount]) VALUES (1, N'CNG', 1)
INSERT [dbo].[CostAccountItem] ([Id], [Note], [CostAccount]) VALUES (2, N'N2', 1)
INSERT [dbo].[CostAccountItem] ([Id], [Note], [CostAccount]) VALUES (3, N'NH3', 1)
SET IDENTITY_INSERT [dbo].[CostAccountItem] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [EmployeeId], [Password], [FirstName], [LastName], [IsAdmin], [IsActive]) VALUES (1, N'202110', N'202cb962ac59075b964b07152d234b70', N'Huy', N'Lê Anh', 1, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[ExportHistory] ON 

INSERT [dbo].[ExportHistory] ([Id], [Material], [ExportDate], [Quantity], [Price], [Receiver], [Requestor], [Handler], [CreatedDate]) VALUES (1, 1, CAST(N'2022-03-10' AS Date), 20, 15000, 1, N'Ms Zero', 1, CAST(N'2022-03-10 15:42:25.277' AS DateTime))
INSERT [dbo].[ExportHistory] ([Id], [Material], [ExportDate], [Quantity], [Price], [Receiver], [Requestor], [Handler], [CreatedDate]) VALUES (2, 2, CAST(N'2022-03-10' AS Date), 20, 15000, 1, N'Ms Zero', 1, CAST(N'2022-03-10 15:42:25.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExportHistory] OFF
SET IDENTITY_INSERT [dbo].[ImportHistory] ON 

INSERT [dbo].[ImportHistory] ([Id], [Material], [ImportDate], [Quantity], [Price], [Supplier], [LineRequest], [Buyer], [PO], [Allocated], [Handler], [CreatedDate]) VALUES (1, 1, CAST(N'2022-03-10' AS Date), 10, 15000, N'Supplier', 1, N'Mr Zero', N'PO nè', 0, 1, CAST(N'2022-03-10 15:42:25.277' AS DateTime))
INSERT [dbo].[ImportHistory] ([Id], [Material], [ImportDate], [Quantity], [Price], [Supplier], [LineRequest], [Buyer], [PO], [Allocated], [Handler], [CreatedDate]) VALUES (2, 1, CAST(N'2022-03-10' AS Date), 15, 15000, N'Supplier', 1, N'Mr Zero', N'PO nè', 0, 1, CAST(N'2022-03-10 15:42:25.277' AS DateTime))
INSERT [dbo].[ImportHistory] ([Id], [Material], [ImportDate], [Quantity], [Price], [Supplier], [LineRequest], [Buyer], [PO], [Allocated], [Handler], [CreatedDate]) VALUES (3, 1, CAST(N'2022-03-10' AS Date), 5, 15000, N'Supplier', 1, N'Mr Zero', N'PO nè', 0, 1, CAST(N'2022-03-10 15:42:25.277' AS DateTime))
SET IDENTITY_INSERT [dbo].[ImportHistory] OFF
INSERT [dbo].[Inspection] ([ImportId], [Status], [CreatedDate], [Inspector], [Result]) VALUES (7, 1, CAST(N'2022-03-10 15:45:12.883' AS DateTime), N'inspector test', 1)
INSERT [dbo].[Inspection] ([ImportId], [Status], [CreatedDate], [Inspector], [Result]) VALUES (12, 1, CAST(N'2022-03-10 15:58:29.970' AS DateTime), N'inspector test', 1)
INSERT [dbo].[Inspection] ([ImportId], [Status], [CreatedDate], [Inspector], [Result]) VALUES (13, 1, CAST(N'2022-03-10 15:58:35.500' AS DateTime), N'inspector test', 1)
SET IDENTITY_INSERT [dbo].[Line] ON 

INSERT [dbo].[Line] ([Id], [Name], [CostCenter]) VALUES (1, N'5 S', N'VVA18-Safety/Environment')
INSERT [dbo].[Line] ([Id], [Name], [CostCenter]) VALUES (2, N'CAPL LINE', N'VSB26-CR2-APL')
INSERT [dbo].[Line] ([Id], [Name], [CostCenter]) VALUES (3, N'CARPENTER', N'VVH99-SUPPORT WORK COMMON')
SET IDENTITY_INSERT [dbo].[Line] OFF
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([Id], [QCode], [Zone], [Unit], [Location], [Item], [Specification], [Remark], [CreatedDate]) VALUES (1, N'Q4358441', 1, 1, N'TỦ SEAL 122', N'Oil Seal/Bearing', N'Oil Seal/Bearing Isolator ID60xOD77x5T,[ZT/NOK] OR[ZF/METRIC SEAL],FOR NO1 & 2 ROLL GRINDING MACHINE', N'', CAST(N'2022-03-10 15:42:25.247' AS DateTime))
INSERT [dbo].[Material] ([Id], [QCode], [Zone], [Unit], [Location], [Item], [Specification], [Remark], [CreatedDate]) VALUES (2, N'Q4359222', 2, 2, N'DA2', N'Roller Bearing', N'Roller Bearing [22210/SKF] OR[22210E1/FAG] OR[22210E/TIMKEN],50IDx90ODx16W,SPHERICAL,FOR 2-ROLL WIPER BOTH HEAD SIDES OF #3RM', N'CD4', CAST(N'2022-03-10 15:42:25.270' AS DateTime))
INSERT [dbo].[Material] ([Id], [QCode], [Zone], [Unit], [Location], [Item], [Specification], [Remark], [CreatedDate]) VALUES (3, N'Q4358113', 2, 1, N'location test', N'item test', N'specification test', N'remark test', CAST(N'2022-03-10 15:45:12.860' AS DateTime))
SET IDENTITY_INSERT [dbo].[Material] OFF
SET IDENTITY_INSERT [dbo].[Unit] ON 

INSERT [dbo].[Unit] ([Id], [Name]) VALUES (1, N'Bottle')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (2, N'Box')
INSERT [dbo].[Unit] ([Id], [Name]) VALUES (3, N'Bul')
SET IDENTITY_INSERT [dbo].[Unit] OFF
SET IDENTITY_INSERT [dbo].[Zone] ON 

INSERT [dbo].[Zone] ([Id], [Name], [Description]) VALUES (1, N'WH1', N'MAIN WAREHOUSE')
INSERT [dbo].[Zone] ([Id], [Name], [Description]) VALUES (2, N'WH2', N'MECHANICAL WAREHOUSE')
INSERT [dbo].[Zone] ([Id], [Name], [Description]) VALUES (3, N'WH3', N'ELECTRIC WAREHOUSE')
SET IDENTITY_INSERT [dbo].[Zone] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIdx_CostAccount_Name]    Script Date: 17/03/2022 14:39:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_CostAccount_Name] ON [dbo].[CostAccount]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIdx_Employee_Code]    Script Date: 17/03/2022 14:39:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_Employee_Code] ON [dbo].[Employee]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIdx_Material_QCode]    Script Date: 17/03/2022 14:39:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_Material_QCode] ON [dbo].[Material]
(
	[QCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIdx_Zone_Name]    Script Date: 17/03/2022 14:39:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIdx_Zone_Name] ON [dbo].[Zone]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CostAccountItem]  WITH CHECK ADD  CONSTRAINT [Fk_CostAccountItem_CostAccount] FOREIGN KEY([CostAccount])
REFERENCES [dbo].[CostAccount] ([Id])
GO
ALTER TABLE [dbo].[CostAccountItem] CHECK CONSTRAINT [Fk_CostAccountItem_CostAccount]
GO
ALTER TABLE [dbo].[ExportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ExportHistory_Handler] FOREIGN KEY([Handler])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ExportHistory] CHECK CONSTRAINT [Fk_ExportHistory_Handler]
GO
ALTER TABLE [dbo].[ExportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ExportHistory_Material] FOREIGN KEY([Material])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ExportHistory] CHECK CONSTRAINT [Fk_ExportHistory_Material]
GO
ALTER TABLE [dbo].[ExportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ExportHistory_Receiver] FOREIGN KEY([Receiver])
REFERENCES [dbo].[Line] ([Id])
GO
ALTER TABLE [dbo].[ExportHistory] CHECK CONSTRAINT [Fk_ExportHistory_Receiver]
GO
ALTER TABLE [dbo].[ImportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ImportHistory_Handler] FOREIGN KEY([Handler])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ImportHistory] CHECK CONSTRAINT [Fk_ImportHistory_Handler]
GO
ALTER TABLE [dbo].[ImportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ImportHistory_LineRequest] FOREIGN KEY([LineRequest])
REFERENCES [dbo].[Line] ([Id])
GO
ALTER TABLE [dbo].[ImportHistory] CHECK CONSTRAINT [Fk_ImportHistory_LineRequest]
GO
ALTER TABLE [dbo].[ImportHistory]  WITH CHECK ADD  CONSTRAINT [Fk_ImportHistory_Material] FOREIGN KEY([Material])
REFERENCES [dbo].[Material] ([Id])
GO
ALTER TABLE [dbo].[ImportHistory] CHECK CONSTRAINT [Fk_ImportHistory_Material]
GO
ALTER TABLE [dbo].[Inspection]  WITH CHECK ADD  CONSTRAINT [Fk_Inspection_ImportHistory] FOREIGN KEY([ImportId])
REFERENCES [dbo].[ImportHistory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inspection] CHECK CONSTRAINT [Fk_Inspection_ImportHistory]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [Fk_Material_Unit] FOREIGN KEY([Unit])
REFERENCES [dbo].[Unit] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [Fk_Material_Unit]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [Fk_Material_Zone] FOREIGN KEY([Zone])
REFERENCES [dbo].[Zone] ([Id])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [Fk_Material_Zone]
GO
ALTER TABLE [dbo].[ExportHistory]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[ExportHistory]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ImportHistory]  WITH CHECK ADD CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[ImportHistory]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
USE [master]
GO
